$color-primary: #295cd9;
$color-light: #ffffff;
$color-pink: #fe97c8;
$color-pinker: #ee69a8;
$color-dark: #232240;

$color-gradient-blue: #3769b9;
$color-gradient-lightblue: #6c9ce9;

$color-blueviolet: #ce88ff;
$color-orange: #ec9c5f;
$color-redorange: #ec6b5f;
$color-blue: #5f87ec;
$color-violet: #d9b0f6;
