<footer class="footer">
  <a href="#" class="footer__logo" aria-label="Логотип">
    <img src="/icons/logo.svg" alt="Логотип" />
  </a>

  <div class="container">
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">专业</a>
        </li>

        <li class="footer__item">
          <a href="#" class="footer__link">网上教育</a>
        </li>

        <li class="footer__item">
          <a href="#" class="footer__link">大学</a>
        </li>

        <li class="footer__item">
          <a href="#" class="footer__link">关于我们</a>
        </li>

        <li class="footer__item">
          <a href="#" class="footer__link">支援服务</a>
        </li>
      </ul>

      <ul class="footer__social social">
        <li class="social__item">
          <a href="" class="social__link">
            <img src="/icons/1.svg" alt="Логотип" aria-label="Логотип" />
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <img src="/icons/2.svg" alt="Логотип" aria-label="Логотип" />
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <img src="/icons/3.svg" alt="Логотип" aria-label="Логотип" />
          </a>
        </li>
      </ul>
    </nav>

    <a href="tel: +74956229820" class="footer__phone">+ 7 (495) 622-98-20</a>
    <a href="mailto:rectorat@staff.sechenov.ru" class="footer__email"
      >rectorat@staff.sechenov.ru</a
    >

    <address class="footer__address">
      <span>119435，莫斯科，Bolshaya Pirogovskaya str。 106号办公室4楼2室</span>
    </address>

    <a href="#" class="footer__bottom-link footer__error-link">
      您是否注意到我们网站上的错误？
      <br />
      写信给我们
    </a>

    <a href="#" class="footer__bottom-link">
      用户协议条款 <br />
      私隐政策及曲奇档案
    </a>
  </div>
</footer>
