<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <img src="/icons/logo.svg" alt="Логотип" aria-label="Логотип" />
    </a>

    <ul class="header__social social">
      <li class="social__item">
        <a href="" class="social__link">
          <img src="/icons/1.svg" alt="Логотип" aria-label="Логотип" />
        </a>
      </li>

      <li class="social__item">
        <a href="" class="social__link">
          <img src="/icons/2.svg" alt="Логотип" aria-label="Логотип" />
        </a>
      </li>

      <li class="social__item">
        <a href="" class="social__link">
          <img src="/icons/3.svg" alt="Логотип" aria-label="Логотип" />
        </a>
      </li>
    </ul>

    <button class="header__burger" aria-label="Кнопка открытия мобильного меню">
      <span></span>
    </button>
  </div>
</header>
